/* Basic  ---------------------------------------- */
.clear {
	clear: both;
}

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}

/* Logo  ---------------------------------------- */
h1 {
	margin: 15px 0 10px 5px;
	width: 225px;
	height: 28px;
	background: url(../images/admin/transdmin-light.gif) no-repeat left top;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span {
	display: none;
}

/* Main Navigation ---------------------------------------- */
#mainNav {
	width: 918px;
	height: 37px;
	padding: 6px;
	margin: 10px 0 20px 0;
	background: url(../images/admin/top-menu-bg.gif) no-repeat left top;
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
	text-transform: uppercase;
}

#mainNav li.logout {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}

#mainNav li.logout a {
	color: #c66653;
}

#mainNav li a:hover {
	background: #fdfcf6;
}

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../images/admin/top-menu-item-bg.gif) repeat-x
		left top;
	color: #454545;
}

/* Container ---------------------------------------- */
#containerHolder {
	background: #eee;
	padding: 5px;
}

#container {
	background: #fff;
	border: 1px solid #ddd;
	width: 878px;
	padding: 20px;
}

/* Breadcrumb ---------------------------------------- */
h2 {
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
}

h2 a {
	color: #646464;
	text-decoration: none;
}

h2 a.active {
	color: #c66653;
}

h2 a:hover {
	text-decoration: underline;
}

/* Content ---------------------------------------- */
#main {
	padding: 0 0 0 0;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	padding: 0 0 0 10px;
	margin: 20px 0 10px;
}

#main table {
	border-top: 1px solid #ddd;
	width: 100%;
}

#main table tr td {
	background: #f6f6f6;
	padding: 0px 15px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ddd;
}

#main table tr th {
	padding: 0px 15px;
	height: 29px;
	line-height: 29px;
}

#main table tr td a {
	color: #646464;
	text-decoration: none;
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr.moderate td {
	background: #ffffdd;
}

#main table tr.inactive td.name {
	color: #ccc;
	text-decoration: line-through;
}

#main table tr.inactive .icon-money {
	color: #ccc;
}

#main table tr:hover td {
	background: #fdfcf6;
}

#main table tr:hover td a {
	text-decoration: underline;
}

#main table tr td.action {
	text-align: right;
	padding: 0 10px 0 0;
	text-decoration: none;
}

#main table tr .action a {
	margin: 0 0 0 10px;
	text-decoration: none;
	color: #9b9b9b;
}

#main table tr:hover .action .edit {
	color: #c5a059;
}

#main table tr:hover .action .delete {
	color: #a02b2b;
}

#main table tr:hover .action .view {
	color: #55a34a;
}

#main table tr:hover .action .add {
	color: #55a34a;
}

#main table tr:hover .action a:hover {
	text-decoration: underline;
}

#main table tr th.action a {
	margin-left: 0;
}

#main fieldset {
	border: 1px solid #ddd;
	padding: 19px;
	margin: 0 0 20px 0;
	background: #fbfbfb;
	position: relative;
}

#main fieldset p {
	margin: 0 0 14px 0;
	float: left;
	width: 100%;
}

#main fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}

#main fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../images/admin/input-shaddow.gif) no-repeat left
		top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../images/admin/input-shaddow.gif) no-repeat left
		top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../images/admin/input-shaddow.gif) no-repeat left
		top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	float: left;
	margin: 0 10px 0 0;
}

#main fieldset .text-long:focus, #main fieldset .text-medium:focus,
	#main fieldset .text-small:focus, #main fieldset textarea:focus {
	background: #fdfcf6 url(../images/admin/input-shaddow-hover.gif)
		no-repeat left top;
}

#main fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(../images/admin/input-shaddow.gif) no-repeat left
		top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 364px;
	float: left;
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}

#main fieldset img.avatar {
	position: absolute;
	right: 40px;
	top: 0;
	border: 1px solid #ccc;
}

.button-submit {
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
}

/* Footer ---------------------------------------- */
#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
}

#footer a {
	color: #9B9B9B;
}

#footer a:hover {
	text-decoration: none;
}

.icon-ok {
	padding-right: 20px;
	background: url(../images/icons/ok.png) no-repeat right center;
}

.icon-money {
	padding-right: 20px;
	font-weight: bold;
	color: green;
	background: url(../images/icons/dollar.png) no-repeat right center;
}

.icon-payments {
	background-image: url(../images/icons/money.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-banners {
	background-image: url(../images/icons/banner.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-projects {
	background-image: url(../images/icons/projects.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-bids {
	background-image: url(../images/icons/asterisk.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-users {
	background-image: url(../images/icons/users.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-subscriptions {
	background: url(../images/icons/dollar.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-blacklist {
	background: url(../images/icons/blacklist.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-access {
	background: url(../images/icons/administrator.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-categories {
	background-image: url(../images/icons/categories.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-dashboard {
	background-image: url(../images/icons/dashboard.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

.icon-asterisk {
	padding-right: 20px;
	font-weight: bold;
	color: green;
	background: url(../images/icons/asterisk.png) no-repeat right center;
}

.checklist {
	margin: 20px 0 0 0;
	font-size: 12px;
}

.checklist li {
	margin-bottom: 8px;
	padding-left: 20px;
	background: url(../images/icons/bullet_green.png) no-repeat left center;
	font-weight: bold;
}

.error {
	border: 1px solid red;
	color: red;
	font-weight: bold;
	padding: 10px;
	background: #ffeeee;
	margin-top: 10px;
}