<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="userDao" class="ro.pub.acs.traffic.dao.UserDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="userContactDao" class="ro.pub.acs.traffic.dao.UserContactDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="locationDao" class="ro.pub.acs.traffic.dao.LocationDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="journeyDao" class="ro.pub.acs.traffic.dao.JourneyDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="journeyDataDao" class="ro.pub.acs.traffic.dao.JourneyDataDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
	
	<bean id="policyDao" class="ro.pub.acs.mobiway.dao.PolicyDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="userPolicyDao" class="ro.pub.acs.mobiway.dao.UserPolicyDAOImpl">
		<constructor-arg>
			<ref bean="sessionFactory" />
		</constructor-arg>
	</bean>
</beans>